body {
    font-family: Verdana, arial, times, serif;
    font-weight: normal;
    font-size: 16px;
    background-image: url(currency%20map.png);
    background-size: cover;
}

button {
    font-size: 12px;
    background-color: #fff;
    margin-top: 300px;
    margin-left: 750px;
    text-align: center;
}

div {
    background-color: #fff;
    position: fixed;
}

h1 {
    font-weight: normal;
    font-family: Arial Narrow, times, serif;
    font-size: 20px;
    border-bottom: solid 0.5px #c0c0c0;
    width: 374px;
    letter-spacing: 2px;
    margin-left: 600px;
    padding: 10px;
    position:fixed;
    opacity: 0.8;
    margin-top: 200px;
}

h2 {
    margin-left: 602px;
    margin-top: 253px;
    opacity: 0.8;
    font-size: 14px;
    position: fixed;
    font-family: Calibri, Arial Narrow, serif;
    letter-spacing: 1px;
    font-weight: normal;
}

h5 {
    font-size: 10px;
    font-family: arial, times, serif;
    margin-top: 770px;
    position: fixed;

}
